Assets/Sprites
Logs
Library
Assets/Scenes
Library/ArtifactDB
Library/ArtifactDB-lock
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
Library/SourceAssetDB-lock